doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 404 error
    body 
        h1 
            b 404
            p error
        p There is some technical error. We will try our best to solve it. Please try again later