doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title bhuria
        link(rel="stylesheet", href="stylesheets/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="shortcut icon", href="/uploads/bhuria.png", type="image/x-icon")
        script(src="https://kit.fontawesome.com/f778fd0092.js")
    body 
        header 
            #h
                #cir
                a(href="/") 
                    pre ğ“«ğ“±ğ“¾ğ“»ğ“²ğ”‚ğ“ª.ğ“¬ğ“¸ğ“¶
                if(status)
                    a(href='/add-image')
                        i.material-icons add
                if(!status)
                    i.material-icons(onclick='fxn();') person
            hr
        #main
            #left
            #mid 
                each y in files 
                    #im
                        img(src='data:image/'+y.img.contentType+';base64,'+y.img.data.toString('base64'), alt="image")
                        span=y.desc
                        if(status)
                            a(href="/delete"+y._id) 
                                i.material-icons delete
                #im 
                    img(src='/uploads/b1.png')
                    span rao shab
            #right
        footer
            #font This website is made by samm.pvt.ltd.
                br
                br
                span Contact for more details:-
                br
                br
                #lin 
                    a(href="tel:7015313458") 
                         i.fas.fa-phone-alt
                    a(href="mailto:fm568pk@gmail.com") 
                        i.fas.fa-envelope
                    a(href="https://wa.me/+918607257708/?text=hi prince") 
                        i.fab.fa-whatsapp
            #bot bhuriya.com is a website made for bhuriya, of bhuriya and by samm.pvt.ltd. While using bhuria.com, you agree to have read and accepted our terms of use, cookie and privacy policy.
                br
                span Copyright 2021-2021 by Prince Yadav. All Rights Reserved.
                a(href="/") 
                    pre ğ“«ğ“±ğ“¾ğ“»ğ“²ğ”‚ğ“ª.ğ“¬ğ“¸ğ“¶
            #links 
                a(href='https://www.facebook.com/sam.kingsman.3348/')
                    i.fab.fa-facebook
                a(href='https://github.com/sammkinng')
                    i.fab.fa-github
                a(href='https://www.linkedin.com/in/prince-yadav-0b6908195/')
                    i.fab.fa-linkedin-in
                a(href="https://www.instagram.com/mister_khapitar/")
                    i.fab.fa-instagram
                a(href="https://youtube.com/channel/UCmAnEOoVrfhPU4RB_lQDm-A") 
                    i.fab.fa-youtube
        div#sidemenu
            i.material-icons#exit(onclick='ex();') clear
            form(action="", method="post")
                label(for="username") username
                input(type="text" name='username')
                label(for="password") password 
                input(type="password" name='password')
                input(type="submit", value="submit")
        script(src="tes.js")