doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet",href="/stylesheets/style.css",type="text/css")
    body
        div.container
            div.top-menu
                h1.page-heading Image
                ul
                    li
                        a(href='/') Home
            div.page-content
                p.page-description Show Image
                p.image-show
                    img(src='/uploads/'+imgUrl)