body{
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}
h1,ul{
    margin: 0px;
    padding: 0px;
}
.container{
    width:1000px;
    margin: 0 auto;
    height: auto;
    padding:10px;
    border:1px solid rgb(2, 137, 170);
    box-shadow:0px 0px 5px #ccc;
    margin-top:5%;
    overflow: auto;
}
.top-menu{
    border-bottom:1px solid #ddd;
    padding-bottom:5px;
    overflow: auto;
    margin-bottom: 30px;
}
.page-heading{
    float: left;
}
.top-menu ul{
    float: right;
}
.top-menu ul li{
    list-style: none;
    display: inline-block;
}
.top-menu ul li a{
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    font-size: 13px;

}


#h{
    width: 100%;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

header{
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    background: white;
}

#cir{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid rgb(2, 137, 170);
    box-shadow: 0px 0px 5px #ccc;
    background: url('/uploads/bhuria.png');
    background-size: cover;
    background-position: top center;
}

pre{
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 1px rgb(2, 137, 170);
}

header i{
    font-size: 15px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}

hr{
    border: 1px solid rgb(2, 137, 170);
}
#main{
    margin-top: 140px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    background: linear-gradient(rgb(255,255,255),rgb(221, 235, 243));
}
#left{
    width: 15%;
    height: 100px;
}
#mid{
    width: 70%;
}
#right{
    width: 15%;
    height: 100px;
}
footer{
    width: 100%;
    height: 400px;
    background: rgb(2, 137, 170);
}

#im{
    width: 400px;
    height: 450px;
    border: 1px solid rgb(2, 137, 170);
    box-shadow: 0px 0px 5px #ccc;
    float: left;
    margin: 10px 10px 10px 10px;
}
#im a{
    cursor: pointer;
    float: right;
}
img{
    width: 400px;
    height: 400px;
    object-fit: fill;
}
#space{
    height: 20px;
    width: 100%;

}
#sidemenu{
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgb(255,255,255),rgb(2, 137, 170));
    border: 1px solid rgb(2, 137, 170);
    box-shadow: 0px 0px 5px #ccc;
    transition: 0.5s;
    overflow-x: hidden;
    /* padding: 10px 10px 10px 10px; */
}

form{
    margin-top: 80px;
    padding-left: 10px;
}

#exit{
    font-size: 20px;
    color: rgb(2, 137, 170);
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#cc{
    font-size: 20px;
}
#imgg{
    display: none;
}
@media screen and (max-width:600px){
    #left,#right{
        /* display: none; */
        width: 0;
    }
    #mid{
        width: 100%;
    }
    #im,img{
        width: 300px;
    }
    #im{
        height: 330px;
        margin: auto;
        float: unset;
    }
    img{
        height: 300px;
    }
    .container{
        width: 100%;
        border: none;
        box-sizing: border-box;
    }
    textarea{
        width: 220px;
    }
}
 
